* {
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #4e6349;
}
#bg {
  margin-top: 10px;
  background-image: url("../images/bg.png");
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

#box {
  background-color: #8e7964;
  width: 800px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}
#icon {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
#arrow {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#start {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.heart {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  background-color: #8e7964;
}
.time {
  display: inline;
  background-color: #8e7964;
  font-size: 70px;
  margin-left: 30px;
  color: white;
}

#title {
  color: white;
  font-size: 50px;
  text-align: center;
}

#desc,
#game-start {
  background-color: #8e7964;
  border-color: #8e7964;
  color: white;
  border: 0px;
  padding: 10px;
  width: 250px;
  height: 50px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}
#buttons {
  text-align: center;
}

#playdesc {
  width: 800px;
  height: 500px;
  background-color: #8e7964;
  margin-left: auto;
  margin-right: auto;
}
#playdesc > h1 {
  display: inline;
  color: white;
  background-color: #8e7964;
}

#hero {
  width: 35px;
  height: 54px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  bottom:0;
  position:absolute;
  left:400px;
}

#bg >.right {
background-position: -105px 0px;
}
.left {
background-position: -70px 0px;
}
#bg >.stop {
background-position: 0px 0px;
}

#ghost-bar{
  width:45px;
  height:50px;
  background-image:url("../images/ghost.png");
  background-repeat:no-repeat;
  background-position: 0px 0px;
  display:inline-block;
  margin-left:30px;
}

.score {
  display: inline;
  background-color: #8e7964;
  font-size: 70px;
  margin-left: 10px;
  color: white;
 
}
