<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ghost Rain</title>
    <link rel="stylesheet" href="style/stylesheet.css"/>
  </head>
  <body>
    <div id="icon">
      <a href="./"
        ><img id="arrow" src="/images/left-arrow.png"
      /></a>
    </div>
    <div id="playdesc">
      <h1> ##HOW TO PLAY</h1>
    </div>
    <!-- <script src="js/settings.js"></script>
      <script src="js/ghost.js"></script>
      <script src="js/hero.js"></script>
      <script src="js/init.js"></script> -->
  </body>
</html>
