<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ghost Rain</title>
    <link rel="stylesheet" href="../style/stylesheet.css" />
  </head>
  <body>
    <div id="icon">
      <a href="./index"
        ><img id="arrow" src="../images/left-arrow.png"
      /></a>
    <img id="start" src="../images/start-button.png"
      />
    </div>
    <div id="bg">
      <span id="hero"></span>
    </div>
    <div id="box">
      <img class="heart" src="../images/heart.png"/>
      <img class="heart" src="../images/heart.png"/>
      <img class="heart" src="../images/heart.png"/>
      <img class="heart" src="../images/heart.png"/>
      <img class="heart" src="../images/heart.png"/>
      <p class="time">30s</p>
     
    </div>


    <!-- <script src="js/settings.js"></script>
      <script src="js/ghost.js"></script>
      <script src="js/hero.js"></script>
      <script src="js/init.js"></script> -->
  </body>
</html>
