<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Enemy Rain mainpage</title>
    <link rel="stylesheet" src="../style/stylesheet.css" />
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1>Enemy Rain</h1>
      </div>
      <div id="buttons">
        <button id="desc" onclick="location.href='./description'">
          walk-through
        </button>
        <button id="game-start" onclick="location.href='./game'">
          game start
        </button>
      </div>
    </div>
  </body>
</html>
